@{
    ViewData["Title"] = "_Root";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div style="width:100%; background-color:burlywood; text-align:justify;">
    <div class="row" style="width:100%">
        <div class="col-lg-12">

            <div id="wrapper">
                <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color:lightblue" runat="server">

                    <!-- Sidebar - Brand -->
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                        <div class="sidebar-brand-text mx-3"><span id="userrole" runat="server" style="font:bold;"></span> </div>
                    </a>

                    <!-- Divider -->
                    <hr class="sidebar-divider my-0" />

                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <!-- Divider -->
                    <hr class="sidebar-divider" />

                    <!-- Heading -->
                    <div class="sidebar-heading">
                        Hospital
                    </div>

                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                            <i class="fas fa-fw fa-user"></i>
                            <span>Hospital Registry</span>
                        </a>
                        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                            <div class="py-2 collapse-inner rounded" id="uc" runat="server" style="">
                                <h6 class="collapse-header">General Settings:</h6>
                                <a id="newWard" class="collapse-item" asp-area="" asp-page="/HospitalEntity/Statuses/Index">Statuses</a>
                                <a id="newRoom" class="collapse-item" asp-area="" asp-page="/HospitalEntity/EntityTypes/Index">Entity Types</a>
                                <a id="newRoom" class="collapse-item" asp-area="" asp-page="/Patients/ReferralStatuses/Index">Referral Statuses</a>
                                <div class="collapse-divider"></div>
                                <h6 class="collapse-header">Register:</h6>
                                <a id="register" class="collapse-item" asp-area="" asp-page="/HospitalEntity/Index">Register Hospital</a>
                                <a id="resetpass" class="collapse-item" asp-area="" asp-page="/HospitalEntity/Branches/BranchTypes/Index">Register Branch Type</a>
                                <a id="resetpass" class="collapse-item" asp-area="" asp-page="/HospitalEntity/Branches/Index">Register Main Branch</a>
                                <a id="resetpass" class="collapse-item" asp-area="" asp-page="/HospitalEntity/Departments/Index">Register Head Department</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#organization" aria-expanded="true" aria-controls="collapsePermissions">
                            <i class="fas fa-fw fa-wrench"></i>
                            <span>Organizational Settings</span>
                        </a>
                        <div id="organization" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                            <div class="py-2 collapse-inner rounded" id="oc" runat="server" style="">
                                <h6 class="collapse-header">User Settings:</h6>
                                @*<%--<a class="collapse-item" href="login.html">Login</a>--%>*@
                                <a id="nbranch" class="collapse-item" asp-area="" asp-page="/DashboardEmployeeGroups/Index">Employee Roles</a>
                                <a id="ebranch" class="collapse-item" asp-area="" asp-page="/HospitalEntity/Users/Register">Administrator</a>
                                <div class="collapse-divider"></div>
                                <h6 class="collapse-header">Activity Settings:</h6>
                                <a id="ndepartment" class="collapse-item" asp-area="" asp-page="/Activities/Index">New Activity</a>
                                <div class="collapse-divider"></div>
                                <h6 class="collapse-header">Other Settings:</h6>
                                
                                <a id="newBed" class="collapse-item" data-target="#myCarousel" data-slide-to="27" runat="server">New Bed</a>

                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#hrsettings" aria-expanded="true" aria-controls="collapsePermissions">
                            <i class="fas fa-fw fa-wrench"></i>
                            <span>Human Resource Settings</span>
                        </a>
                        <div id="hrsettings" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                            <div class="py-2 collapse-inner rounded" id="Div1" runat="server" style="">
                                <h6 class="collapse-header">Groups:</h6>
                                @*<%--<a class="collapse-item" href="login.html">Login</a>--%>*@
                                <a id="ruGroup" class="collapse-item" data-target="#myCarousel" data-slide-to="3" runat="server">Register User Groups</a>
                                <a id="muGroup" class="collapse-item" data-target="#myCarousel" data-slide-to="" runat="server">Modify Groups</a>
                                <div class="collapse-divider"></div>
                                <h6 class="collapse-header">Specializations:</h6>
                                <a id="specializationSettings" class="collapse-item" data-target="#myCarousel" data-slide-to="21" runat="server">New Specialization</a>
                                <a id="A6" class="collapse-item" data-target="#myCarousel" data-slide-to="" runat="server">Modify Specialization</a>
                                <a id="A7" class="collapse-item" data-target="#myCarousel" data-slide-to="0" runat="server">Report View</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#patientsettings" aria-expanded="true" aria-controls="collapsePermissions">
                            <i class="fas fa-fw fa-wrench"></i>
                            <span>Patient Settings</span>
                        </a>
                        <div id="patientsettings" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                            <div class="py-2 collapse-inner rounded" id="Div2" runat="server" style="">
                                <h6 class="collapse-header">Type Settings:</h6>
                                <a id="division" class="collapse-item" data-target="#myCarousel" data-slide-to="19" runat="server">Organisation</a>
                                <a id="armyUnitCarousel" class="collapse-item" data-target="#myCarousel" data-slide-to="16" runat="server">Family</a>
                                <div class="collapse-divider"></div>
                                <h6 class="collapse-header">Army Settings:</h6>
                                <a id="A9" class="collapse-item" data-target="#myCarousel" data-slide-to="11" runat="server">Army Unit</a>
                                <a id="A10" class="collapse-item" data-target="#myCarousel" data-slide-to="" runat="server">Service Codes</a>
                                <a id="A11" class="collapse-item" data-target="#myCarousel" data-slide-to="1" runat="server">Army Ranks</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePermissions" aria-expanded="true" aria-controls="collapsePermissions">
                            <i class="fas fa-fw fa-wrench"></i>
                            <span>Permissions</span>
                        </a>
                        <div id="collapsePermissions" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                            <div class="py-2 collapse-inner rounded" id="pc" runat="server" style="">
                                <h6 class="collapse-header">Grant Permissions:</h6>
                                <a id="apermission" class="collapse-item"  asp-area="" asp-page="/HospitalEntity/Permissions/Index">Add Permissions</a>
                                <a id="mpermission" class="collapse-item"  asp-area="" asp-page="/HospitalEntity/Permissions/Index">Modify Permissions</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#logistics" aria-expanded="true" aria-controls="collapsePermissions">
                            <i class="fas fa-fw fa-wrench"></i>
                            <span>Logistics Settings</span>
                        </a>
                        <div id="logistics" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                            <div class="py-2 collapse-inner rounded" id="lsc" runat="server" style="">
                                <h6 class="collapse-header">Item Registry Settings:</h6>
                                <%--<a class="collapse-item" href="login.html">Login</a>--%>
                                <a id="sigroup" class="collapse-item" asp-area="" asp-page="/Items/ItemTypes/ItemSubGroups/ItemSuperGroups/Index">Super Item Group</a>
                                <a id="igroup" class="collapse-item" asp-area="" asp-page="/Items/ItemTypes/ItemSubGroups/Index">Item Group</a>
                                <a id="itype" class="collapse-item" asp-area="" asp-page="/Items/ItemTypes/Index">Item Types</a>
                                <a id="imunits" class="collapse-item" asp-area="" asp-page="/Items/ItemUnits/Index">Item Measurable Units</a>
                                <div class="collapse-divider"></div>
                                <h6 class="collapse-header">Edit Item Settings:</h6>
                                <a id="edsigroup" class="collapse-item" data-target="#myCarousel" data-slide-to="1" runat="server">Super Item Group</a>
                                <a id="eigroup" class="collapse-item" data-target="#myCarousel" data-slide-to="1" runat="server">Item Group</a>
                                <a id="eitype" class="collapse-item" data-target="#myCarousel" data-slide-to="1" runat="server">Item Types</a>
                                <a id="eimunits" class="collapse-item" data-target="#myCarousel" data-slide-to="1" runat="server">Item Types</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#examinationsSettings" aria-expanded="true" aria-controls="collapsePermissions">
                            <i class="fas fa-fw fa-wrench"></i>
                            <span>Examinations Settings</span>
                        </a>
                        <div id="examinationsSettings" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                            <div class="py-2 collapse-inner rounded" id="Div4" runat="server" style="">
                                <h6 class="collapse-header">Test Settings:</h6>
                                <%--<a class="collapse-item" href="login.html">Login</a>--%>
                                <a id="A1" class="collapse-item" data-target="#myCarousel" data-slide-to="26" runat="server">New Test</a>
                                <a id="A2" class="collapse-item" data-target="#myCarousel" data-slide-to="26" runat="server">Edit Test</a>
                                <a id="A3" class="collapse-item" data-target="#myCarousel" data-slide-to="26" runat="server">Edit Equipments</a>
                                <a id="A25" class="collapse-item" data-target="#myCarousel" data-slide-to="32" runat="server">Add New Vital</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#financialSettings" aria-expanded="true" aria-controls="collapsePermissions">
                            <i class="fas fa-fw fa-wrench"></i>
                            <span>System Settings</span>
                        </a>
                        <div id="financialSettings" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                            <div class="py-2 collapse-inner rounded" id="Div7" runat="server" style="">
                                <h6 class="collapse-header">Modules:</h6>
                                <a id="billItem" class="collapse-item" asp-area="" asp-page="/HospitalEntity/Modules/Index">Register Module</a>
                                <a id="A17" class="collapse-item" asp-area="" asp-page="/HospitalEntity/Modules/Mappings/Index">Module Mapping</a>
                            </div>
                        </div>
                    </li>
                    <!-- Divider -->
                    <hr class="sidebar-divider d-none d-md-block" />

                    <!-- Sidebar Toggler (Sidebar) -->
                    <div class="text-center d-none d-md-inline">
                        <button class="rounded-circle border-0" id="sidebarToggle"></button>
                    </div>

                </ul>

                <div id="content-wrapper" class="d-flex flex-column " style="background-color:white">

                    <!-- Main Content -->
                    <div id="content">
                        <!-- Topbar -->
                        @RenderBody()

                        <!-- Begin Page Content -->
                        <div class="row">
                            <div class="col-12">
                                <main role="main" class="pb-lg-5">

                                </main>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="col-md-6 col-md-offset-2">
                <section>
                    <h4>Use another service to log in.</h4>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                    for details on setting up this ASP.NET application to support logging in via external services.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>*@
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="~/js/Chart.min.js"></script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@section Styles {
    <link href="@Url.Content("~/css/Google-Style-Login.css")" rel="stylesheet" type="text/css" />
}
@section Styles1 {
    <link href="@Url.Content("~/css/sb-admin-2.min.css")" rel="stylesheet" type="text/css" />
}
@section Styles2 {
    <link href="@Url.Content("~/css/all.min.css")" rel="stylesheet" type="text/css" />
}
@RenderSection("Scripts", required: false)

