@page
@model DemoHms.Pages.Items.ItemUnits.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Home.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ItemUnit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemUnit.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemUnit.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemUnit.Abbreviation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemUnit.Abbreviation)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ItemUnit.ItemUnitID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
