@page
@model DemoHms.Pages.Items.ItemTypes.ItemSubGroups.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Home.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ItemSubGroup</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemSubGroup.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemSubGroup.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemSubGroup.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemSubGroup.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemSubGroup.ItemSuperType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemSubGroup.ItemSuperType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ItemSubGroup.ItemSubGroupID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
