@page
@model DemoHms.Pages.Patients.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Home.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.CardNO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.CardNO)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Tel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Tel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Occupation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Occupation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.AccNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.AccNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.NextOfKin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.NextOfKin.NextOfKinID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Family)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Family.FamilyID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Organisation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Organisation.OrganisationID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.ArmyNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.ArmyNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.ArmyUnit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.ArmyUnit.ArmyUnitID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.ServiceCodeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.ServiceCodeID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Rank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Rank.RankID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.ArmyStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.ArmyStatus.ArmyStatusID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Hospital)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Hospital.HospitalID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.UpdatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.UpdatedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Patient.PatientID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
