@page
@using AweCoreDemo.Models
@using AweCoreDemo.Utils
@model AweRazorPages.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1>ASP.net Core Awesome Simple Demo (Razor Pages)</h1>
<p>
    demo showing some basic features of the awesome helpers
</p>
<div>
    <a href="@Url.Page("Page1")">send ajax requests to page handlers demo</a> |
    <a href="@Url.Page("InlineEdit")">Grid Inline Edit Demo</a>
</div>

<h2>AjaxDropdown</h2>
@Html.Awe().AjaxDropdown("Category").Url(Url.Action("GetCategories", "Data"))
@Html.Awe().AjaxDropdown("Meal").Url(Url.Action("GetMeals", "Data")).Parent("Category")

<h2>AjaxRadioList and AjaxChecboxList</h2>
<div class="o-pad awe-il">
    @Html.Awe().AjaxRadioList("Category1").Url(Url.Action("GetCategories", "Data")).Ochk()
</div>
<div class="o-pad awe-il">
    @Html.Awe().AjaxRadioList("Meal1").Url(Url.Action("GetMeals", "Data")).Parent("Category1").Ochk()
</div>
<div class="o-pad awe-il">
    @Html.Awe().AjaxCheckboxList("Meals").Url(Url.Action("GetMeals", "Data")).Parent("Category1").Ochk()
</div>

<h2>Checkbox</h2>
<label>
    @Html.Awe().CheckBox("chk1").Value(true).Ochk() <span class="chkLbl">label text</span>
</label>
<br />
<br />
@Html.Awe().CheckBox("chk2").Value(true).Otoggl()

<h2>Odropdown</h2>
@Html.Awe().AjaxRadioList("MealsOdropdown").Odropdown().Url(Url.Action("GetAllMeals", "Data"))

<h2>Combobox</h2>
@Html.Awe().AjaxRadioList("MealCombo").Combobox().Url(Url.Action("GetAllMeals", "Data"))

<h2>ColorPicker</h2>
@Html.Awe().AjaxRadioList("Color").ColorDropdown(o => o.AutoSelectFirst())

<h2>TimePicker</h2>
@Html.Awe().AjaxRadioList("Time1").TimePicker(o => o.AutoSelectFirst())

<h2>Multiselect</h2>
@Html.Awe().AjaxCheckboxList("CategoriesMulti").Multiselect().Url(Url.Action("GetAllMeals", "Data")).HtmlAttributes(new { style = "width:300px;" })
<br />
<br />
<h2>ButtonGroup</h2>
@Html.Awe().AjaxRadioList("CategoryButtonGroup").ButtonGroup().Url(Url.Action("GetCategories", "Data"))

<h2>Lookup</h2>
@Html.Awe().Lookup("MealLookup").Controller("MealLookup")

<h2>MultiLookup</h2>
@Html.Awe().MultiLookup("MealsMultiLookup").Controller("MealsMultiLookup")

<h2>Autocomplete</h2>
@Html.Awe().Autocomplete("MealsAuto").Url(Url.Action("GetMealsAuto", "Data")).Placeholder("try mango, apple ...")

<h2>Datepicker</h2>
@Html.Awe().DatePicker("Date").ChangeMonth().ChangeYear()

<h2>Timepicker</h2>
@Html.Awe().TimePicker("Time2")

<h2>Textbox</h2>
@Html.Awe().TextBox("txt1").Placeholder("text")

<h2>Numeric Textbox</h2>
@Html.Awe().TextBox("Number").Numeric().Placeholder("number")

<h2>Grid</h2>
@(Html.Awe().Grid("DinnersGrid")
        .Mod(o => o.PageInfo().PageSize().ColumnsSelector().ColumnsAutohide())
        .Url(Url.Action("GridGetItems", "Data"))
        .Height(400)
        .Columns(
        new Column { Bind = "Name" }.Mod(o => o.NoAutohide()),
        new Column { Bind = "Country.Name", ClientFormat = ".CountryName", Header = "Country" },
        new Column { Bind = "Chef.FirstName,Chef.LastName", ClientFormat = ".ChefName", Header = "Chef" },
        new Column { Bind = "Date" }))

<h2>AjaxList</h2>
@Html.Awe().TextBox("searchMeal").Placeholder("search for a meal...")

<div style="min-height:400px;margin-top: 5px;">
    @Html.Awe().AjaxList("mealsList").Url(Url.Action("GetMealsAjaxList", "Data")).Parent("searchMeal")
</div>

<h2>See also</h2>
<a href="https://demo.aspnetawesome.com">demo.aspnetawesome.com</a>
<br />
<a href="https://prodinner.aspnetawesome.com">prodinner.aspnetawesome.com</a>