@model IEnumerable<AweCoreDemo.Models.Meal>
@{ Layout = null;}

@foreach (var o in Model)
{
    <li class="awe-li" data-val="@(o.Id)">
        <button class="awe-movebtn awe-btn" type="button" tabindex="-1"><i class='awe-icon'></i></button>
        Name: @o.Name
        <button onclick="awe.open('details', { params: { id: @o.Id } }, event)" class="awe-btn awe-nonselect lkdetail" tabindex="-1">
            Details
        </button>
        <br />
        Category: @o.Category.Name
        <br />
        Description: @o.Description
    </li>
}