@page
@model DemoHms.Pages.Permissions.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Home.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Permission[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permission[0].CanEdit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permission[0].CanRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permission[0].CanDelete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permission[0].CanAdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permission[0].CanApprove)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permission[0].CanConfirm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permission[0].EmployeeGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permission[0].Activity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permission[0].CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permission[0].UpdatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Permission) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanEdit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanRead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanDelete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanAdd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanApprove)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanConfirm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeGroup.EmployeeGroupID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activity.ActivityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedOn)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PermissionID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PermissionID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PermissionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
