@page
@model DemoHms.Pages.Patients.PatientTypes.Army.ArmyUnits.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Home.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArmyUnit[0].ArmyDivision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArmyUnit[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArmyUnit[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArmyUnit[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ArmyUnit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArmyDivision.ArmyDivisionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ArmyUnitID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ArmyUnitID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ArmyUnitID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
