@page
@model AweCoreDemo.Pages.Lab.Tests.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Test) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TestID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TestID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TestID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
